<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Find restaurant recommendations for you"
    />
    <title>RESTOKU. | Restaurant Recommendations</title>
    <link rel="icon" type="image/x-icon" href="./images/favicon.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="theme-color" content="#34495e" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192-whitebg.png" />
  </head>
  <body>
    <a class="skip" href="#main">SKIP TO CONTENT</a>
    <app-bar></app-bar>
    <div id="root"></div>
  </body>
</html>
