<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <a class="skip" href="#main">SKIP TO CONTENT</a>

    <!-- NavBar -->
    <nav>
      <h1><a href="/">RESTOKU.</a></h1>
      <button type="button" class="touch" aria-label="membuka menu">≡</button>
      <ul>
        <li><a href="/" class="touch">HOME</a></li>
        <li><a href="#" class="touch">FAVORITE</a></li>
        <li>
          <a
            href="https://github.com/faruqAbdulHakim"
            target="_blank"
            class="touch"
            >ABOUT US</a
          >
        </li>
      </ul>
    </nav>

    <!-- Hero -->
    <div class="hero">
      <div>
        <h2 tabindex="0">RESTOKU.</h2>
        <p tabindex="0">Cari tempat makan terbaik untukmu</p>
      </div>
      <img
        class="hero-img"
        src="./images/heros/hero-image_2.jpg"
        alt="hero image"
        tabindex="0"
      />
    </div>

    <!-- Daftar restorean -->
    <main id="main">
      <h2 tabindex="0">Daftar Restoran</h2>
      <div class="resto-list"></div>
    </main>

    <footer tabindex="0">Copyright © 2021 - RESTOKU.</footer>
  </body>
</html>
