@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Urbanist, sans-serif;
}

h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 6px;
}

ul {
  padding: 0;
}

.touch {
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
  line-height: 44px;
}

/* Skip to content */
a.skip {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: teal;
  color: white;
  z-index: 9999;
}

a.skip:focus {
  opacity: 1;
}

/* Navbar */
nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 99;
}

nav button {
  font-size: 24px;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  right: 10px;
  top: 64px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  background-color: white;
  transform: translateX(40vw);
  transition: transform 0.4s ease-out;
}

nav ul.show {
  transform: translateX(0);
}

nav ul li {
  padding: 10px 20px;
}

/* Hero */
.hero {
  position: relative;
}
.hero div {
  position: absolute;
  z-index: 1;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h2 {
  font-size: 36px;
  margin-bottom: 16px;
}
.hero-img {
  filter: brightness(0.6) blur(0.6px);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

/* Daftar restoran */
main h2 {
  margin-top: 56px;
  text-align: center;
}

.resto-list {
  margin: 36px;
  display: grid;
  gap: 36px 24px;
  justify-items: center;
}

.resto-item {
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.resto-item:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.resto-item img {
  width: 100%;
  height: 240px;
  border-radius: 0 0 20px 20px;
  object-fit: cover;
}

.resto-info {
  padding: 24px;
}

.resto-info p {
  margin-top: 10px;
}

.rating {
  margin-left: 10px;
  color: #e67e22;
  font-weight: 600;
}

.resto-desc {
  margin: 10px 0;
  font-size: 14px;
  text-align: justify;
}

/* Footer */
footer {
  text-align: center;
  background-color: #34495e;
  color: white;
  margin-top: 26px;
  font-size: 12px;
  padding: 4px 0;
}
