@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: Urbanist, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration: none;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 6px;
}

ul {
  padding: 0;
}

.touch {
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
  line-height: 44px;
}

/* Skip to content */
a.skip {
  padding: 22px 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: teal;
  color: white;
  z-index: 9999;
}

a.skip:focus {
  opacity: 1;
}

/* Navbar */
nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 99;
}

nav button {
  font-size: 24px;
}

nav ul {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  right: 10px;
  top: 64px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  background-color: white;
  transform: scale(0.1);
  transform-origin: right top;
  transition: all 0.2s ease-out;
}

nav ul.show {
  transform: scale(1);
  visibility: visible;
}

nav ul li {
  padding: 10px 20px;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Hero */
hero-section {
  z-index: 1;
  color: white;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/images/heros/sharp/hero-image_2-small.jpg');
  background-size: cover;
  background-position: center;
}
hero-section h2 {
  font-size: 36px;
  margin-bottom: 16px;
}
.hero-img {
  filter: brightness(0.6) blur(0.6px);
  width: 100%;
  height: 40%;
  object-fit: cover;
  object-position: top;
}

/* Daftar restoran */
main h2 {
  margin-top: 56px;
  text-align: center;
}

.resto-list {
  margin: 36px;
  display: grid;
  gap: 36px 24px;
  justify-items: center;
}

resto-item {
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

resto-item:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

resto-item:active {
  transform: scale(0.99);
}

resto-item img {
  width: 100%;
  height: 240px;
  border-radius: 0 0 20px 20px;
  object-fit: cover;
}

.resto-info {
  padding: 24px;
}

.resto-info p {
  margin-top: 10px;
}

.rating {
  color: #e67e22;
  font-weight: 600;
}

.resto-desc {
  margin: 10px 0;
  font-size: 14px;
  text-align: justify;
}

/* resto detail page */

resto-detail .flex-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: flex-start;
}

resto-detail h3 {
  font-size: 28px;
}

resto-detail .resto-detail {
  padding: 10px;
  margin-top: 20px;
}

resto-detail .resto-detail > * + * {
  margin-top: 16px;
}

resto-detail img {
  border-radius: 20px;
}

.resto-menus {
  margin-top: 24px;
  padding: 10px;
}

.resto-menus-categories {
  display: flex;
  flex-direction: column;
}
.resto-menus-categories div {
  margin-top: 10px;
}
.resto-menus-categories p {
  font-weight: bold;
}
.resto-menus-categories ul li {
  margin-left: 20px;
  white-space: nowrap;
}

.resto-reviews {
  max-width: 500px;
  margin-top: 24px;
  padding: 10px;
}

.resto-reviews > * + * {
  margin-top: 12px;
}

.resto-reviews-review {
  padding: 10px;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow-wrap: break-word;
}

.reviewers-name {
  font-weight: bold;
}

.reviews-date {
  font-size: 12px;
  color: gray;
}

.reviews-review {
  margin-top: 5px;
}

.add-review {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
}

.add-review form label {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.add-review form label span.label-text {
  font-weight: bold;
  margin: 10px 0;
}

.add-review form input,
.add-review form textarea {
  padding: 12px;
  font-size: 16px;
  resize: none;
}

.add-review form button {
  margin-top: 24px;
  background-color: #34495e;
  color: #ecf0f1;
  padding: 10px 16px;
  min-height: 44px;
  min-width: 44px;
  font-weight: bold;
}
.add-review form button:hover {
  opacity: 75%;
}
.add-review form button:active {
  opacity: 40%;
}

.favorite-button {
  position: fixed;
  padding: 10px;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  color:white;
  background-color: #34495e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
}

.favorite-button:hover {
  transform: scale(1.2);
}
.favorite-button:active {
  transform: scale(0.95);
}

/* Content-Loading */
content-loading {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Footer */
footer {
  text-align: center;
  background-color: #34495e;
  color: white;
  margin-top: 26px;
  font-size: 12px;
  padding: 4px 0;
}
