@media screen and (min-width: 768px) {
  nav ul {
    flex-direction: row;
    transform: translateX(0);
    box-shadow: none;
    position: static;
  }
  nav button.touch {
    display: none;
  }

  nav ul {
    visibility: visible;
  }

  nav ul li {
    padding: 0 20px;
  }

  hero-section {
    height: 450px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/images/heros/sharp/hero-image_2-medium.jpg');
  }

  .resto-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .resto-desc {
    font-size: 16px;
  }

  resto-detail .flex-container {
    padding: 28px 28px 0 28px;
    flex-direction: row;
  }

  resto-detail h3 {
    font-size: 28px;
  }

  resto-detail img {
    max-width: 40%;
    object-fit: cover;
    object-position: top;
  }

  resto-detail .resto-detail {
    padding: 0 20px 0 24px;
  }

  .resto-menus {
    padding: 0 24px;
  }

  .resto-reviews {
    padding: 0 24px;
  }

  .add-review h3 {
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .resto-list {
    grid-template-columns: repeat(3, 1fr);
  }

  hero-section {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/images/heros/sharp/hero-image_2-large.jpg');
  }

  resto-detail img {
    max-width: 55%;
    object-fit: cover;
    object-position: top;
  }

  .resto-menus-categories {
    flex-direction: row;
  }

  .resto-menus-categories > * + * {
    margin-left: 55px;
  }
}
